<%- include('../partials/heading') -%>
    <a style="margin: 0px auto;" href="/campgrounds" class="btn btn-light">Back to Campgrounds</a>

    <div class="container" style="margin-bottom:120px">
        <h1 style="text-align: center; margin :50px auto">Edit
            <%=campground.name%>
        </h1>
        <form action="/campgrounds/<%=campground._id%>?_method=PUT" , method="POST">
            <div class="form-group">
                <input class="form-control" type="text" name="campground[name]" value="<%=campground.name%>">
            </div>
            <div class="form-group">
                <input class="form-control" type="text" name="campground[image]" value="<%=campground.image%>">
            </div>
            <div class="form-group">
                <input class="form-control" type="text" name="campground[desc]" value="<%=campground.desc%>">
            </div>
            <div class="form-group">
                <input class="form-control" type="number" name="campground[price]" value="<%=campground.price%>" min="0.01" step="0.01">
            </div>
            <div class=" form-group ">
                <button type="submit " class="btn btn-primary btn-block ">Submit</button>
            </div>
        </form>
    </div>


    <%- include('../partials/footer') -%>